* {
  margin:0;
  padding:0;
}

/* This will make the page decrease in size when the browser decreases in size*/
.wrapper {
  width:100%;
  position:relative;
}

/* Background Image*/
#BackgroundImage{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  grid-column: 1;
  grid-row: 1;
  opacity: 0.8;
  z-index: 0;
  position: fixed;
}


h1 {
  font-size: 100px;
  color: black;
  text-decoration: underline;
  text-decoration-color: #4db1bc;
  top: 100px;
  position: relative;
  text-align:center;
}

a {
  font-family: 'Teko', sans-serif;
  color: #4db1bc;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  justify-self: center;
  padding-bottom: 1rem;
}

/* ----------------------------------------------------section 1-------------------------------------------------------*/

.Form-mover {
  width: 100px;
  height: 1100px;
  width: 720px;
  position: relative;
  top: 200px;
  text-align: left;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.section-1{
  width: 100%;
  height: 1100px;
}

#Text{
  font-family: Arial, Helvetica, sans-serif;
  z-index: 10;
  font-size: 30px;
  width: 700px;
  color: #4db1bc;
  border: 5px solid white;
  background-color: #212121;
  padding: 5px;
  margin-bottom: 100px;
  text-align: center;
}

/*----------------------------------------------------- Form -------------------------------------------------*/
form {
  position: relative;
  background-color: black;
  z-index: 0;
  width: 600px;
  color:#4db1bc;
  padding: 10px;
}

/*----------------------------------------------------- Light mode -------------------------------------------------*/
#Lightmode{
  position: fixed;
  right: 20px;;
  margin-top: 10px;
  background-color: black;
  color: white;
  border-color: white;
  border-width: 5px;
  padding: 10px;
  z-index: 100;
}

body.light-mode form {
  color: black;
  background-color: white;
  border-color: black;
  border-width: 5px;
}

body.light-mode #Text {
  color: black;
  background-color: white;
  border-color: black;
  border-width: 5px;
}


body.light-mode #BackgroundImage{
  filter: brightness(1.20);
}
